* { box-sizing: border-box; }

body {
    font-family: serif;
    font-size: 100%;
    color: #000;
    background: #3366ff;
    margin: 0;
}

#container {
    margin: 2em auto;
    max-width: 780px;
    padding: 1em 1.5em;
    background: #fff;
    overflow: auto;
}

#heading {
  color: #fcfcfc;
  background: #99ccff;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0.5em 0;
}

p, li {
    font-size: 1.2em;
    line-height: 1.5em;
}

/*.right {
    float: right;
    margin: 1.5em 0 1em 1em;
    border: 1px solid #333;
}


/* links */

a {
    color: ##596366;
    text-decoration: none;
}

a:hover {
    color: #84939b;
    text-decoration: underline;
}

/* media queries */

@media (max-width: 860px) {
    body {
        background: #fbfbfb;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
    #heading {
      font-size: 1em;
    }

    h1 {
        padding: 0 0 0.5em 0;
    }
    .right {
        float: none;
        margin: 0;
    }
}
